{$INKCHECK_HOST} {
  encode zstd gzip
  reverse_proxy inkcheck:8080

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Permissions-Policy "camera=(), geolocation=(), microphone=()"
    -Server
  }
}
